@font-face {
  font-family: "norse";
  src: url(fonts/norse-bold-webfont.woff2),
  url(fonts/norse-bold-webfont.woff);
}

:root {
  /* colors */
  --border-clr: #E5E7EB;
  --btn-bg-clr: #596D48;

  --body-height: 100vh;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height:var(--body-height);
  /* margin: 10px; */
}

.wrapper {
  display: flex;

  height: var(--body-height);
  width: min(85rem, 100%);
  margin-inline: auto;
  box-shadow: 0 0 10px black ;
}

#left-container {
  background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  border: 1px solid blue;
}

img {
  height: 100px;
}

#left-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.562);

  margin-top: 200px;
  padding-block: 1em;
}

#left-container h1 {
  font-family: "norse";
  font-size: 6rem;
  color: white;

}

#right-container {
  width: 100%;
  border: 2px solid black;
}

