@font-face {
  font-family: "norse";
  src: url(fonts/norse-bold-webfont.woff2), url(fonts/norse-bold-webfont.woff);
}

:root {
  /* colors */
  --border-clr: #e5e7eb;
  --btn-bg-clr: #596d48;

  --body-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: var(--body-height);
  overflow: hidden;
  /* margin: 10px; */
  font-family: roboto, sans-serif;
}

/* .left-corner,
.right-corner {
  position: fixed;
  height: 500px;
  width: 500px;
  box-shadow: 0px 0px 10px rgb(92, 92, 92);
}

.left-corner {
  left: -230px;
  bottom: -285px;
  transform: rotate(-50deg);
  background-color: #eaddca;
  z-index: 1;
}

.right-corner {
  right: -230px;
  top: -285px;
  transform: rotate(-50deg);
  background-color: #eaddca;
} */

.wrapper {
  display: flex;

  height: var(--body-height);
  width: min(85rem, 100%);
  margin-inline: auto;
  box-shadow: -1px 1px 10px black;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.5s ease-in, transform 0.6s ease;
}

.wrapper.animate {
  opacity: 1;
  transform: scale(1);
}

#left-container {
  background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  /* border: 1px solid blue; */
}

img {
  height: 100px;
}

#left-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.562);

  margin-top: 200px;
  padding-block: 1em;
}

#left-container h1 {
  font-family: "norse";
  font-size: 5.55rem;
  color: white;
}

#right-container {
  padding-block: 7em;

  width: 100%;
  /* border: 2px solid black; */
  background-color: #f1f1f1;
}

.text-container {
  font-size: clamp(1rem, calc(0.15rem + 1.5vw), 1.45rem); /* 1.45rem */
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.3;
  /* width: 45ch; */
  margin-inline: 50px;
}

.text-container p {
  max-width: 50ch;
}

.text-container > p + p {
  margin-top: 20px;
}

form h1 {
  display: block;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;

  margin-top: 50px;
  padding-inline: 50px;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(202, 202, 202);
  padding-block: 20px;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 1px solid blue;
  width: 100%;
}

input {
  font-size: 0.95rem;
  /* padding-block: 0.25em; */
  height: 40px;
  width: 100%;
  padding-inline: 0.45em;
  margin-bottom: 30px;
  border: 1px solid var(--border-clr);
  border-radius: 3px;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 3px 3px 5px rgb(182, 182, 182);
}

input::placeholder {
  font-size: 0.85rem;
}

input:focus:invalid {
  border-color: red;
}

label {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 3px;
  letter-spacing: 0.08em;
}

button {
  font-size: 0.95rem;
  font-weight: 600;
  background-color: var(--btn-bg-clr);
  border: none;
  border-radius: 8px;
  padding: 0.75em 3em;
  color: white;
  margin-top: 25px;
  margin-bottom: 40px;
}

form div {
  margin-left: 50px;
}

form div p > a {
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
  color: var(--btn-bg-clr);
}

@media screen and (max-width: 480px) {
  body {
    overflow-y: visible;
  }

  .wrapper {
    flex-direction: column;
  }
}
